@import '../mixins';
@import '../variables';

.excel-table {
    position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    right: 0;
    left: 0;
    overflow-x: auto;
    padding-bottom: 2px;
    .row {
        display: flex;
        min-height: 20px;
        min-height: $row-height;
        &-info {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: $widht-info + $padding-main;
            min-height: 100%;
            border: 1px solid $grey;
            background-color: $grey_light;
            border-top: none;
            position: relative;
        }
        &-data {
            display: flex;
            .column {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $grey_light;
                border: 1px solid $grey;
                border-top: none;
                border-left: none;
                min-width: 40px;
                width: $cell-width;
                position: relative;
            }
        }
    }
    .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        border: 1px solid #dadada;
        border-top: none;
        border-left: none;
        height: 100%;
        outline: none;
        &.selected {
            border: none;
            outline: 2px solid $active;
        }
    }
    .col-resize, .row-resize {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: $active;
        &:hover {
            opacity: 1;
        }
    }
    .col-resize {
        top: 0;
        width: 5px;
        cursor: col-resize;
    }
    .row-resize {
        left: 0;
        height: 5px;
        cursor: row-resize;
    }
}